$textColor: #000000;
$backgroundColor: #edf375;
$backgroundColorHover: #9ca73a;
$borderColor: #9ca73a;

body {
    margin: 0;
    background-color: $backgroundColor;
    font-family: 'Itim', cursive;
}

.container {
    width: 100%;
    margin: 0;
    background-color: $backgroundColor;
}

.shopHeader {
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

.shopPanel {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    &__quantity,
    &__unit,
    &__product,
    &__button--add,
    &__button--clear {
        padding: 0;
        outline: none;
        border: none;
        border-top: 2px solid $borderColor;
        background-color: $backgroundColor;
        color: $textColor;
        text-align: center;
        height: 40px;
        box-sizing: border-box;
    }

    &__quantity {
        width: 10%;
    }

    &__unit {
        width: 15%;
    }

    &__product {
        padding-right: 10px;
        padding-left: 10px;
        width: 75%;
    }

    &__button--add,
    &__button--clear {
        width: 50%;
    }

    &__quantity:hover,
    &__unit:hover,
    &__product:hover,
    &__button--add:hover,
    &__button--clear:hover {
        border-top: 2px solid $borderColor;
        background-color: $backgroundColorHover;
        color: $textColor;
    }

    &__quantity:focus,
    &__unit:focus,
    &__product:focus,
    &__button--add:focus,
    &__button--clear:focus {
        border-top: 2px solid $borderColor;
        background-color: $backgroundColorHover;
        color: $textColor;
    }

    &__button--add:hover,
    &__button--clear:hover,
    &__unit:hover {
        cursor: pointer;
    }
}

.shopList {
    width: 100%;

    &__button--delete {
        text-align: center;
        box-sizing: b;
        padding: 0;
        width: 100%;
        height: 40px;
        outline: none;
        border: none;
        background-color: $backgroundColor;
    }

    &__button--delete:hover {
        background-color: $backgroundColorHover;
        cursor: pointer;
    }
}

.shopFooter {
    height: 40px;
    font-size: 20px;
    text-align: center;
    background-color: $backgroundColor;
    border-top: 2px solid $borderColor;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead>tr {
    background-color: $backgroundColor;
}

tr {
    height: 40px;
    background-color: $backgroundColor;
    border-top: 2px solid $borderColor;
}

td {
    padding: 0;
}

td:first-child,
td:nth-child(2),
td:nth-child(3),
td:last-child {
    width: 10%;
    text-align: center;
}

td:nth-child(4) {
    word-break: break-all;
    word-wrap: break-word;
    padding-left: 10px;
}

td:last-child {
    border: none;
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $backgroundColor inset !important;
    box-shadow: 0 0 0 30px $backgroundColor inset !important;
}

@media (min-width: 768px) {
    body {
        background-color: #ffffff;
    }

    .container {
        margin: 50px auto 0 auto;
        max-width: 500px;
        border-radius: 25px;

        .shopPanel {
            &__quantity {
                width: 10%;
            }

            &__unit {
                width: 15%;
            }

            &__product {
                width: 55%;
            }

            &__button--add {
                width: 10%;
            }

            &__button--clear {
                width: 10%;
            }
        }
    }
}